.hero-inter {
  position: relative;

  .hero__inter {
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      text-align: center;
      position: relative;
      z-index: 2;

      @media (max-width: 768px) {
        gap: 40px;
      }
    }

    &-title {
      color: var(--white, #fffdfb);
      font-family: "Helvetica Neue";
      font-size: var(--44-88);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      margin-top: 250px;

      @media (max-width: 768px) {
        margin-top: 225px;
      }
    }

    .button-white {
      background: #fff !important;
      margin: 0 auto;
    }
  }
}

.header__inner {
  border-bottom: 1px solid #fff !important;
  position: relative;
  z-index: 11;
}

.header__list-inter {
  color: var(--white, #fffdfb);

  /* desktop/body */
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.32px;
}

.header__inner {
  border-bottom: 1px solid #fff !important;
}

.hero__inner {
  z-index: 10;
}

.header__list-inter {
  &:hover {
    opacity: 0.6;
  }
}

@import "./packages.scss";
@import "./advantages.scss";
@import "./example.scss";
@import "./quiz.scss";
